<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>look a-HEAD</title>
  <link rel="stylesheet" href="../static/CSS/Main.css">
  <link rel="stylesheet" href="../static/CSS/comments.css">
  <script defer src="../static/JS/Comment.js"></script>
  <script defer src="../static/JS/Client.js"></script>
  <script defer src="../static/JS/Hairdresser.js"></script>
  <script defer src="../static/JS/HairdresserProfile.js"></script>
</head>
<body>
<header>
  <div class="logo"></div>
  <div class="header-buttons">
    <button>Logout</button>
  </div>
</header>
<main>
  <h1>My Profile:</h1>
  <ul id="hairdressers-list"></ul>
  <button type="submit">Update Details</button><br><br>
  <h2>Comments:</h2><br>
  <ul id="comments-list"></ul>
</main>
<footer>
  <p>&copy; 2023 Look a-HEAD. All Rights Reserved</p>
</footer>
</body>
</html>
