<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>look a-HEAD</title>
  <script defer src="../static/JS/Hairdresser.js"></script>
  <script defer src="../static/JS/HairdresserResultsSearch.js"></script>
  <link rel="stylesheet" href="../static/CSS/Main.css">
  <link rel="stylesheet" href="../static/CSS/HairdresserList.css">
</head>
<body>
<header>
  <div class="logo"></div>
  <div class="header-buttons">
    <button>Profile</button>
    <button>Logout</button>
  </div>
</header>
<main>
  <h1>Hairdressers Around You:</h1>
  <ul id="hairdressers-list"></ul>
  <div class="Bottom-buttons">
    <button class="rate-hairdresser-button" disabled>Rate</button>
    <button class="book-hairdresser-button" disabled>Book</button>
  </div>
</main>
<footer>
  <p>&copy; 2023 Look a-HEAD. All Rights Reserved</p>
</footer>
</body>
</html>
