* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
}

.header a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
p{
  margin: 10px;
}
/* Navigation Styles */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  padding: 10px;
  margin-bottom: 20px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

/* Main Content Styles */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card h2 {
  font-size: 20px;
  margin: 10px;
}

.card p {
  font-size: 16px;
  margin: 10px;
}

.card button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  background-color: #555555;
}

.star{
  color: grey;
}


.yellow {
  color: gold;
}

.hairdresser{
  width: 50%;
}
.hairdresser-box.selected {
  border-color: #0072c6;
}

.Bottom-buttons {

  text-align: center;
  margin-top: 20px;
}

.rate-hairdresser-button, .book-hairdresser-button {
  margin: 40px;
  font-size: 20px;

}

.hairdresser-box{
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;

}

.hairdresser-details{
  width: 100%;
  margin-left: 20px;

}


.rate-hairdresser-button[disabled],
.book-hairdresser-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}




